{% load staticfiles %}
    <html>
        <head>
            <title>File manager</title>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/trash.css' %}">
        </head>
        <body>
            <div class="topmenu">
                 <a href="{% url 'trash_list'%}">List of trashes</a>
                 <a href="{% url 'trash_new'%}">Create new trash</a>
                 <a href="{% url 'list_of_tasks'%}">List of tasks</a>
                 <a href="{% url 'delete_files'%}">Delete files</a>
                 <a href="{% url 'add_regular_task' %}">Delete by regular expression</a>
                 <a href="{% url 'list_completed_tasks'%}">List of completed tasks</a>
            </div>
            <div>
                <div>
                    <div>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </body>
    </html>