{% extends 'trash/base.html' %}

{% block content %}
 <div>
<div class="container">
    <div class="row col-lg-offset-14">
<select id="id_current_trash_bin">
    {% for name in names %}
    <option value='{{name}}'>{{name}}</option>
    {% endfor %}
</select>
        <button class="btn bg-primary" id="delete_button">Create task</button>
    </div>
</div>
</div>

<div id="container-tree">

</div>
<script>
$('#container-tree').jstree({
    "plugins": ["wholerow", "state","json_data"],
'core' : {
    'data': {
        "url": "get_info",
        "data": function (node) {
            return {"id": node.id, "text" : node.text};
        }
    }
}
});

$('#delete_button').click(function (event) {
    var current_trash =  $("#id_current_trash_bin").val();
    event.preventDefault();
    var selectedElmsIds = $('#container-tree').jstree("get_selected");

var data = {
    trash : current_trash,
    files : selectedElmsIds
};
console.log(data);
    $.post('add_task', data).done(function () { document.location.href = 'list_of_tasks' });
});
</script>
{% endblock%}
