{% extends 'trash/base.html' %}
{% block content %}
    <table class="table table-striped" style="width: 100%">
    <thead>
      <tr>
          <th style="width: 50%; text-align: center; font-size: 200%">Tasks</th>
          <th style="width: 50%; text-align: center; font-size: 200%">Regular tasks</th>
      </tr>
    </thead>
    <tr>
    <td>
    <table class="table table-striped">
    <thead style="font-size: 200%">
      <tr>
          <th>Files</th>
          <th>Trash</th>
          <th>Operation</th>
          <th>Execute!</th>
          <th>Delete!</th>
      </tr>
    </thead>
        <tbody>
{% for task in tasks%}
<tr style="font-size: 130%">
            <td>{{task.files}}</td>
            <td>{{task.current_trash}}</td>
            <td>{{task.type_of_operation}}</td>
            <td>
                <button class="btn btn-primary" id="execute-{{task.id}}">Execute!</button>
            </td>
            <td>
                <button class="btn btn-danger" id="delete-{{task.id}}">Cancel!</button>
            </td>
        </tr>
<script>
$("#execute-{{task.id}}").on('click', function (event) {
    var current_trash =  '{{task.current_trash}}';
    event.preventDefault();
    var data = {
        trash : current_trash,
        files : '{{task.files}}',
        task_id : '{{task.id}}',
        operation : '{{task.type_of_operation}}'
    };
    console.log(data);
            $.post('execute_task', data).done(function () { document.location.href = 'list_of_tasks' });
        });

$("#delete-{{task.id}}").on('click', function (event) {
    event.preventDefault();
            $.post('delete_task', {task_id : '{{task.id}}'}).done(function () { document.location.href = 'list_of_tasks' });
        });

</script>
{% endfor %}
        </tbody>
</table>
    </td>
    <td>
    <table class="table table-striped" style="width: 100%; vertical-align: top">
    <thead style="font-size: 200%">
      <tr>
          <th>Name</th>
          <th>Folder</th>
          <th>RegExp</th>
          <th>Execute!</th>
          <th>Delete!</th>
      </tr>
    </thead>
     <tbody>
{% for task in regular_tasks %}
<tr style="font-size: 130%">
            <td>{{task.current_trash}}</td>
            <td>{{task.initial_folder}}</td>
            <td>{{task.regular_expression}}</td>
            <td>
                <button class="btn btn-primary" id="execute-{{task.id}}">Execute!</button>
            </td>
            <td>
                <button class="btn btn-danger" id="delete-{{task.id}}">Cancel!</button>
            </td>
        </tr>
<script>
$("#execute-{{task.id}}").on('click', function (event) {
    var current_trash =  '{{task.current_trash}}';
    event.preventDefault();
    var data = {
        trash : current_trash,
        regular_expression : '{{task.regular_expression}}',
        task_id : '{{task.id}}',
        initial_folder : '{{task.initial_folder}}'
    };
    console.log(data);
            $.post('execute_regular_task', data).done(function () { document.location.href = 'list_of_tasks' });
        });

$("#delete-{{task.id}}").on('click', function (event) {
    event.preventDefault();
            $.post('delete_regular_task',
                {task_id : '{{task.id}}'}).done(function () { document.location.href = 'list_of_tasks' });
        });

</script>
{% endfor %}
        </tbody>
    </table>
    </td>
    </tr>
    </table>
{% endblock content %}