{% extends 'trash/base.html' %}

{% block content %}

<table class="table table-striped">
    <thead style="font-size: 200%">
      <tr>
          <th>Files</th>
          <th>Trash</th>
          <th>Operation</th>
          <th>Status</th>
      </tr>
    </thead>
        <tbody>
    {% for task in completed_tasks%}
<tr style="font-size: 130%">
            <td>{{task.files}}</td>
            <td>{{task.current_trash}}</td>
            <td>{{task.type_of_operation}}</td>
            <td>{{task.status}}</td>
        </tr>
    {% endfor %}
        </tbody>
</table>
     <button id="btn-ok" style="margin-left: 1020px">Clear</button>
    <script>$('#btn-ok').click(function (event) {
    $.post('clear_completed_tasks').done(function () { document.location.href = 'list_completed_tasks' });
});</script>
{% endblock content %}