{% extends 'trash/base.html' %}
    {% block content %}
        <h1 style="text-align: center">Regular deleting</h1>
        <h1></h1>
        <form method="POST" class="trash-form" id="reg-form" style="width: 100%;" >{% csrf_token %}
        <h1></h1>
            <p style="font-size: 150%; text-align: center">Trash:</p>
            <p style="text-align: center;">{{ form.current_trash }}</p>
            <p style="font-size: 150%">RegExp:</p>
            <p style="width: 50%;">{{ form.regular_expression }}</p>
            <p style="font-size: 150%">Folder:</p>
            <p style="width: 50%">{{ form.initial_folder }}</p>
        <button type="submit" id="btn-ok" style="margin-left: 1020px">Create task</button>
        </form>
    {% endblock %}