{% extends 'trash/base.html' %}

    {% block content %}
        <h1 style="text-align: center">Create new Trash</h1>
        <form method="POST" class="trash-form" style="width: 50%">{% csrf_token %}
            <p style="text-size: 200%">Name:</p>
            <p>{{ form.name }}</p>
            <p style="text-size: 200%">Path to trash:</p>
            <p>{{ form.path_to_trash }}</p>
            <p style="text-size: 200%">Current size:</p>
            <p>{{ form.current_size }}</p>
            <p style="text-size: 200%">Number of objects to auto delete:</p>
            <p>{{ form.number_of_objects_to_auto_delete }}</p>
            <p style="text-size: 200%">Maximum size of trash:</p>
            <p>{{ form.maximum_size_of_trash }}</p>
            <p style="text-size: 200%;">Deleting politic:</p>
            <p>{{ form.deleting_politic }}</p>
            <p style="text-size: 200%;">Restoring politic:</p>
            <p>{{ form.restoring_politic }}</p>
            <p style="text-size: 200%;">Dry run:</p>
            <p>{{ form.dry_run }}</p>
            <button type="submit" class="save btn btn-default" style="margin-left: 520px" >Save</button>
        </form>
    {% endblock %}