{% extends 'trash/base.html' %}
{% block content %}
    <table class="table table-striped">
    <thead style="font-size: 200%">
    <tr>
        <th style="width: 30%">Trash name</th>
        <th style="width: 30%">Trash size / Maximum trash size</th>
        <th style="width: 40%">Path to trash</th>
    </tr>
    </thead>
    <tbody style="font-size: 200%">
    {% for post in posts %}
        <tr>
            <td style="width: 30%"><a href="{% url 'trash_detail' pk=post.pk %}">{{ post.name }}</a>
            <td style="width: 30%">{{ post.current_size }}/{{ post.maximum_size_of_trash }}</td>
            <td style="width: 40%">{{ post.path_to_trash }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock content %}