{% extends 'trash/base.html' %}

{% block content %}
    <table style="width: 100%">
    <thead>
      <tr>
          <th style="width: 50%; text-align: center; font-size: 200%">Trash parameters</th>
          <th style="width: 50%; text-align: center; font-size: 200%">List of files</th>
      </tr>
    </thead>
    <tr>
    <td>
    <form method="POST" class="trash-form">{% csrf_token %}
        <h1>Name:           {{ form.name }}</h1>
        <h1>Path to trash:       {{form.path_to_trash}}</h1>
        <h1>Current size in bytes:       {{form.current_size}}</h1>
        <h1>Maximum size in bytes:       {{form.maximum_size_of_trash}}</h1>
        <h1>Amount of elements to auto delete:       {{form.number_of_objects_to_auto_delete}}</h1>
        <h1>Deleting politic:       {{form.deleting_politic}}</h1>
        <h1>Restoring politic:       {{form.restoring_politic}}</h1>
        <h1>Dry run:        {{ form.dry_run }}</h1>
    </form>
    <a href="{% url 'trash_edit' pk=PK%}">
        <button class="btn bg-primary" id="delete_button" style="margin-left: 100px">Change trash parameters</button>
    </a>
    <a href="{% url 'trash_delete' pk=PK %}">
        <button class="btn bg-primary" id="delete_button" style="margin-left: 100px">Delete current trash</button>
    </a>
    <h1></h1>
    <h1></h1>
    </td>
    <td>
<table class="table table-striped">
    <thead>
      <tr>
          <th>Mark</th>
          <th>Name</th>
          <th>Path</th>
          <th>Size</th>
      </tr>
    </thead>
        <tbody>
    {% for file in files %}
    <tr>
        <td>
        <input class="Checkbox" type="checkbox" id="{{file.path}}" value="{{file.name}}">
        </td>
        <td>{{file.name}}</td>
        <td>{{file.path}}</td>
        <td>{{file.size}} Bytes</td>
    </tr>
    {% endfor %}
        </tbody>
</table>
    <h1></h1>
    <h1></h1>
        <button class="btn btn-danger" id="delete_all_button">Delete all!</button>
        <button class="btn btn-primary" id="recover_button">Recover!</button>
        <button class="btn btn-danger" id="recover_all_button">Recover all!</button>
        <button class="btn btn-primary" id="delete_button1">Delete!</button>
    </td>
    </tr>
    </table>
<script>

$('#delete_all_button').on('click', function (event) {
    var array_of_hashes = [];
    var data = $('.Checkbox').each(function(){
        array_of_hashes.push($(this).attr('id'));
    });
    console.log(array_of_hashes);
    $.post('remove_from_trash', {'hashes' : array_of_hashes}).done(function () { document.location.href = 'list_of_tasks' });
});

$('#recover_all_button').on('click', function (event) {
    var array_of_hashes = [];
    var data = $('.Checkbox').each(function(){
        array_of_hashes.push($(this).attr('id'));
    });
    console.log(array_of_hashes);
    $.post('recover_from_trash', {'hashes' : array_of_hashes}).done(function () { document.location.href = 'list_of_tasks' });
});

$('#recover_button').on('click', function (event) {
    var array_of_hashes = [];
    var data = $('.Checkbox:checked').each(function(){
        array_of_hashes.push($(this).attr('id'));
    });
    console.log(array_of_hashes);
    $.post('recover_from_trash', {'hashes' : array_of_hashes}).done(function () { document.location.href = 'list_of_tasks' });
    });

$('#delete_button1').on('click', function (event) {
     var array_of_hashes = [];
    var data = $('.Checkbox:checked').each(function(){
        array_of_hashes.push($(this).attr('id'));
    });
    console.log(array_of_hashes);
    $.post('remove_from_trash', {'hashes' : array_of_hashes}).done(function () { document.location.href = 'list_of_tasks' });
    });

    </script>
{% endblock %}