.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.save {
    float: right;
}

.trash-form textarea, .trash-form input {
    width: 180%;
    color: #4CAF50;
}

.trash {
     margin-bottom:  30px
}

.trash h1 a, .trash h1 a:visited {
    color: #000000;
}

.topmenu {
    background-color: #333;
    overflow: hidden;
}

.topmenu a{
    float: inherit;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 30px;
    text-decoration: solid;
    font-size: 25px;
}

.topmenu a:hover {
    background-color: #ddd;
    color: black;
}

.topmenu a.active {
    background-color: #4CAF50;
    color: white;
}

.container-tree{
    margin-left: 750px;
    font-size: 20px;
}

.trash-form{
    font-size: 150%;
    width: 100%;
    alignment: center;
}